:root {
    --text-color-header: white;
    --bg-text-color-header: #0f0f0f;
}

.header {
    font-size: 16px;
    /* width: 1256px; */
    width: 67%;
    height: 64px;
    margin: 32px auto 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: sticky; 
    top: 32px; 
    z-index: 4; 
    background-color: rgba(255, 255, 255, 0);
    border-radius: 32px;
    margin-bottom: 24px;
    backdrop-filter: blur(64px);
    font-weight: 400;
}

.header .header-nav {
    display: flex;
    width: 100%;   
}



.header-ul {
    display: flex;
    
}

.header-li  {
    color : var(--text-color-header);
    display: flex;
    list-style: none;
    padding: 8px 10px 8px 10px;
    border-radius: 32px;
}

.headerLink {
    cursor: pointer;

    font-size: 16px;
    color : var(--text-color-header);
    text-decoration: none;
    padding: 8px 10px 8px 10px;
    transition: all 0.3s ease;
    border-radius: 32px;
    
    &:hover {
        background-color: var(--bg-text-color-header);
    }
}

.headerLink-main{
    
    margin-left: 12px;
    cursor: pointer;
    font-size: 16px;
    color : rgb(255, 255, 255);
    text-decoration: none;
    padding: 7px 10px 7px 10px;
    transition: all 0.3s ease;
    border-radius: 32px;
    &:hover {
        background-color: var(--bg-text-color-header);
    }
}

.headerLink.active,
.headerLink-main.active {
    background-color: var(--bg-text-color-header); 
    color: var(--text-color-header); 
}

.header-li-auth {
    position: absolute;
    right: 0%;
    color : var(--text-color-header);
    display: flex;
    list-style: none;
    padding: 8px 16px 8px 16px;

}

.headerLink-auth {
    cursor: pointer;
    font-size: 16px;
    color : var(--text-color-header);
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    transition: all 0.3s ease;
    border: 1px solid #ffffff;
    border-radius: 8px;

    &:hover {
        background-color: #ffffff;
        color: black;
    }
}

.headerLink-auth.active {
    background-color: #ffffff;
    color: black;
}